/* Global Formatting  */
body {
  padding-top: 50px;
}
h1 {
  letter-spacing: 2px;
}


/* Color Template Formatting  */
.dark-color-text {
  color: #323a45;
} 
.dark-color-text a:link,
.dark-color-text a:hover,
.dark-color-text a:visited,
.dark-color-text a:active {
  color: #323a45;
}
.light-color-text {
  color: #4b5563;
}
.light-color-text a:link,
.light-color-text a:hover,
.light-color-text a:visited,
.light-color-text a:active {
  color: #4b5563;
}
.white-text a:link,
.white-text a:hover,
.white-text a:visited,
.white-text a:active {
  color: #ffffff;
}
.red-text {
  color: red;
}


/* Signature SVG Formatting */
#navSignature {
  margin: 0px 0px 0px -8px;
  height: 22px;

}
@media (min-width: 500px) {
  #navSignature {
    margin: -4px 0px 0px 0px;
    height: 30px;
  }
}
@media (min-width: 769px) {
  #navSignature {
    margin: -8px 0px 0px 0px;
    height: 40px;
  }
}


/* Index Carousel Formatting  */
#img0,
#img1,
#img2,
#img3,
#img4 {
  height: 250px;
}
@media (min-width: 500px) {
  #img0,
  #img1,
  #img2,
  #img3,
  #img4 {
   height: 300px;
  }
}
@media (min-width: 700px) {
  #img0,
  #img1,
  #img2,
  #img3,
  #img4 {
   height: 400px;
  }
}
#img0 {
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1;
}
#img1 {
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1;
}
#img2 {
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1;
}
#img3 {
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1;
}
#img4 {
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1;
}
#wirtalla-vis {
  color: gray;
  font-size: 11px;
  font-style: italic;
  padding-top: 5px;
}
#wirtalla-vis a:hover,
#wirtalla-vis a:visited,
#wirtalla-vis a:active {
  color: gray;
}


/* Index Formatting */
#show-alert {
  margin-bottom: 0px;
}
.alert-warning-a,
.alert-warning-a:hover {
  color: #8a6d3b !important;
}
.grey-theme {
  background-color: #323a45;
}
.top-hr{
  margin-bottom: -20px;
}
.grey-theme hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid grey;
  margin: 1em 0; padding: 0;
}
.grey-theme h2 {
  margin: -6px 0px -6px 0px;
  color: #f5f5f5;
  letter-spacing: 2px;
}
.grey-theme a {
  color: grey;
}
.grey-theme a:hover {
  color: #ffffff;
}
.grey-theme p, .grey-theme #crc a {
  color: grey;
}
.grey-theme .large-text {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
}
.index-img {
  margin: 10px 0px 20px 0px;
  height: 125px;
  width: 125px;
  border-radius: 62.5px; 
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 1px;
  background-color: #a2a2a2;
  border: 1px solid #333;
}
.btn-grey {
  color: #f5f5f5 !important;
  border-color: #f5f5f5;
  background-color: transparent;
  font-size: 15px;
  letter-spacing: 2px;
  min-width: 118px;
  margin: 10px 0px 10px 0px;
}
.btn-grey:hover {
  color: #323a45 !important;
  border-color: #323a45;
  background-color: #f5f5f5;
}
.index-links {
  padding: 10px 0px 10px 0px;
}
#index-footer {
  margin-top: 10px;
}


/* Timeline Formatting */
#decade-divider-top {
  margin-bottom: 25px;
}
.decade-divider {
  margin-bottom: 30px;
}
.decade-img {
  height: 110px;
  width: 110px;
  border-radius: 55px; 
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 1px;
  background-color: #a2a2a2;
  border: 1px solid #eee;
}
.timeline-list li {
  list-style: none;
}
.timeline-art{
  max-height: 125px;
  margin: 10px;
}
.timeline-art-subtitle {
  margin: -10px 0px 10px 0px;
}
@media screen and (max-height: 500px) {
  ul.timeline-list {
  padding-left: 10px;
  }
}

/* Statements Formatting */
#wordCloud {
  margin: 0 auto;
  margin-top: -15px;
  max-height: 475px;
}


/* Quotes Formatting */
.section-header {
  margin: 0px 0px 15px 0px;
}
.quote-body {
  margin: 0px;
}
.quote-credit {
  margin: 5px 0px 15px 0px;
}

.reviews-art, .reviews-art-horizontal {
  margin: 0px 0px 10px 0px;
  max-height: 230px;
}
@media (min-width: 500px) {
  .reviews-art-horizontal{
    max-height: 145px;
  }
}
@media (min-width: 992px) {
  .reviews-art-horizontal{
    max-height: 190px;
  }
}
@media (min-width: 1200px) {
  .reviews-art-horizontal{
    max-height: 230px;
  }
}


/* Collection Gallery Formatting */
.art-gallery ul {         
  padding: 0px;
  margin: 0px;
}
.art-gallery ul li {     
  list-style:none;
  margin-bottom:10px;           
}
.art-gallery ul li img {
  cursor: pointer;
}
.thumbnail-height {
    display: block;
    overflow: hidden;
    background-size: cover;
    height: 75px;
    margin: 0 auto;
}
@media (min-width: 400px) {
  .thumbnail-height {
    height: 100px;
  }
}
@media (min-width: 500px) {
  .thumbnail-height {
    height: 150px;
  }
}
@media (min-width: 768px) {
  .thumbnail-height {
    height: 140px;
  }
}
@media (min-width: 992px) {
  .thumbnail-height {
    height: 150px;
  }
}
@media (min-width: 1200px) {
  .thumbnail-height {
    height: 175px;
  }
}


/* Collection Modal Formatting */
.modal {
  margin-top: 50px;
}
.modal-header h4 {
  font-weight: 500;
  margin-bottom: 0px;
}
.custom-carousel.carousel-control.left:link,
.custom-carousel.carousel-control.left:visited,
.custom-carousel.carousel-control.right:link,
.custom-carousel.carousel-control.right:visited {
  background-image:none;
  color: #a2a2a2;
}
.custom-carousel.carousel-control.left:hover,
.custom-carousel.carousel-control.right:hover {
  color: #323a45;
}
.custom-carousel.carousel-control.left:active,
.custom-carousel.carousel-control.right:active {
  color: #a2a2a2;
}
#modal-img {
  margin: 0 auto;
  max-width: 80%;
}
#art-modal-footer {
  margin: 0px;
  padding: 0px;
}
#medium-btn-mobi,
  #size-btn-mobi,
  #decade-btn-mobi,
  #tag-btn-mobi,
  #status-btn-mobi {
    margin: 2px;
  }
#art-modal-footer-top {
  margin: 10px 0px 0px 0px;
  padding: 0px;
}
#art-modal-footer-bottom {
  margin: 0px 0px 10px 0px;
  padding: 0px;
}
@media screen and (max-height: 500px) {
  .modal-header {
    padding: 7px 10px 10px 10px;
  }
  .modal-header h4 {
    font-size: 14px;
  }
  .modal-body {
    padding: 5px 10px 5px 10px;
  } 
  .modal-footer {
    padding: 2px;
    font-size: 10px;
  } 
  #modal-img {
    max-height: 160px;
  }
  #reset-btn-mobi {
    margin: 2px;
  }
}


/* Collection Button Formatting */
#title-search-input {  
  margin: -10px 0px 0px 0px;
}
#reset-btn {
  font-weight: 600;
  color: #a2a2a2;
}
#random-checkbox {
  margin: 5px 0px -15px 0px;
  padding: 0px;
  font-style: italic;
}
#more-art-btn {
  margin: 0 auto;
}
#art-btn-counter {
  margin-top: 0px;
  font-size: 12px;
  font-style: italic;
}
#art-btn-counter p{
  margin: 0px 0px 5px 0px;
  padding: 0px;
}
#art-btn-counter-modal {
  margin: 2px 0px -5px 0px;
  font-size: 11px;
  font-style: italic;
}
#addArtLink{
  margin: 15px 0px -5px 0px;
  font-size: 12px;
}
#reset-btn,
#medium-btn,
#size-btn,
#decade-btn,
#tag-btn,
#status-btn,
#filters-btn-mobi,
#reset-btn-mobi {
  margin: 7px 0px 0px 0px;
}
#reset-btn:hover,
#filters-btn-mobi:hover,
#more-art-btn:hover {
  color: white;
  background-color: #a2a2a2;
}
#reset-btn:focus {
  color: #a2a2a2;
  background-color: white;
  outline: none;
}
#more-art-btn:focus {
  color: #333;
  background-color: white;
  outline: none;
}
.btn-filtered {
  background-color: #a2a2a2;
  color: white;
}


/* Books Formatting */
#featureList {
  margin: 10px 0px 0px 0px;
}
#featureList li {
  list-style: none;
  line-height: 160%;
}
.bookTitle {
  margin: 10px 0px 15px 0px;
}
.bookTitleMobi {
  margin: 0px 0px 20px 0px;
  display:none;
}
@media (max-width: 767px) {
  #explorationsImg {
    max-width: 60%;
  }
  .bookTitle {
    display: none;
  }
  .bookTitleMobi {
    display: block;
  }
}
@media (max-width: 480px) {
  #explorationsImg {
    max-width: 100%;
  }
}


/* Contact Formatting  */
#contact-glyphicon {
  font-size: 150%;
}
#contact-hr {
  margin-top: 10px;
}


/* Collection and Contact Note Formatting */
.note {
  color: white;
  font-style: italic;
}
#collection-note {
  margin: -15px 0px 5px 0px;
  padding: 0px;
}
#contact-note {
  margin: -3px 0px -3px 0px;
  padding: 0px;
}
.anchor {
  display: block;
  position: relative;
  top: -63px;
  visibility: hidden;
}


/* Footer Formatting  */
.footer ul {
  margin-top: -10px;
  padding: 0;
}
.footer li {
  display: inline;
}
.footer-pipe {
  margin-left: 5px;
  margin-right: 5px;
}
#fbLink{
  color: #323a45;
  margin: 0px 0px 9px 0px;
  padding-right: 9px;
  font-size: 200%;
}
#fbLink:hover{
  color: #4b5563;
}
#fbLinkDark{
  color: grey;
  margin: 0px 0px 9px 0px;
  padding-right: 9px;
  font-size: 200%;
}
#fbLinkDark:hover{
  color: white;
}
#crc {
  margin-bottom: 40px;
}