/* Global Formatting  */
body {
  padding-top: 50px;
}


/* Color Template Formatting  */
.dark-color-text {
  color: #323a45;
} 
.dark-color-text a:link,
.dark-color-text a:hover,
.dark-color-text a:visited,
.dark-color-text a:active {
  color: #323a45;
}
.light-color-text {
  color: #4b5563;
}
.light-color-text a:link,
.light-color-text a:hover,
.light-color-text a:visited,
.light-color-text a:active {
  color: #4b5563;
}
.red-text {
  color: red;
}


/* Signature SVG Formatting */
#navSignature {
  margin: 0px;
  height: 25px;

}
@media (min-width: 500px) {
  #navSignature {
    margin: -8px 0px 0px 0px;
    height: 40px;
  }
}


/* Artwork Gallery Formatting */
.art-gallery ul {         
  padding: 0px;
  margin: 0px;
}
.art-gallery ul li {     
  list-style:none;
  margin-bottom:10px;           
}
.art-gallery ul li img {
  cursor: pointer;
}
.thumbnail-height {
    display: block;
    overflow: hidden;
    background-size: cover;
    height: 75px;
    margin: 0 auto;
}
@media (min-width: 400px) {
  .thumbnail-height {
    height: 100px;
  }
}
@media (min-width: 500px) {
  .thumbnail-height {
    height: 150px;
  }
}
@media (min-width: 768px) {
  .thumbnail-height {
    height: 140px;
  }
}
@media (min-width: 992px) {
  .thumbnail-height {
    height: 150px;
  }
}
@media (min-width: 1200px) {
  .thumbnail-height {
    height: 175px;
  }
}


/* Artwork Modal Formatting */
.modal {
  margin-top: 50px;
}
.modal-header h4 {
  font-weight: 500;
  margin-bottom: 0px;
}
.custom-carousel.carousel-control.left:link,
.custom-carousel.carousel-control.left:visited,
.custom-carousel.carousel-control.right:link,
.custom-carousel.carousel-control.right:visited {
  background-image:none;
  color: #a2a2a2;
}
.custom-carousel.carousel-control.left:hover,
.custom-carousel.carousel-control.right:hover {
  color: #323a45;
}
.custom-carousel.carousel-control.left:active,
.custom-carousel.carousel-control.right:active {
  color: #a2a2a2;
}
#modal-img {
  margin: 0 auto;
  max-width: 80%;
}
#art-modal-footer {
  margin: 0px;
  padding: 0px;
}
@media screen and (max-width: 500px) {
  #art-modal-footer {
    font-size: 10px;
  }
}
@media screen and (max-height: 400px) {
  #art-modal-footer {
    display: none !important;
  }
}
#modal-footer-top {
  margin: 10px 0px 0px 0px;
  padding: 0px;
}
#modal-footer-bottom {
  margin: 0px 0px 10px 0px;
  padding: 0px;
}


/* Artwork Button Formatting */
#reset-btn {
  font-weight: 600;
  color: #a2a2a2;
}
#random-checkbox {
  margin: 5px 0px -15px 0px;
  padding: 0px;
  font-style: italic;
}
#medium-btn-mobi,
#decade-btn-mobi,
#tag-btn-mobi,
#status-btn-mobi {
  margin: 7px;
}
#more-art-btn {
  margin: 0 auto;
}
#art-btn-counter {
  margin-top: 20px;
  font-size: 12px;
  font-style: italic;
}
#art-btn-counter p{
  margin: 0px 0px 5px 0px;
  padding: 0px;
}
#art-btn-counter-modal {
  margin: 7px 0px 0px 0px;
  font-size: 13px;
  font-style: italic;
}
#title-search-input {  
  margin: -10px 0px 20px 0px;
}
#reset-btn,
#medium-btn,
#decade-btn,
#tag-btn,
#status-btn {
  margin: -10px 0px 0px 0px;
}
#reset-btn:hover,
#filters-btn-mobi:hover,
#more-art-btn:hover {
  color: white;
  background-color: #a2a2a2;
}
#reset-btn:focus,
#more-art-btn:focus {
  background-color: #a2a2a2 !important;
  color: white !important;
}
.btn-filtered {
  background-color: #a2a2a2;
  color: white;
}


/* Artwork Note Formatting */
#note {
  color: white;
  font-style: italic;
  margin: -15px 0px 5px 0px;
  padding: 0px;
}


/* Footer Formatting  */
.footer ul {
  margin-top: -10px;
  padding: 0;
}
.footer li {
  display: inline;
}
.footer-pipe {
  margin-left: 5px;
  margin-right: 5px;
}
#crc {
  margin-bottom: 40px;
}




