{
  "extends": [
    "colinrobertbrooks",
    "colinrobertbrooks/typescript",
    "colinrobertbrooks/jest",
    "colinrobertbrooks/prettier"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "@typescript-eslint/no-empty-interface": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "react/require-default-props": "off",
    "no-use-before-define": "off"
  }
}
