{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "react/require-default-props": "off",
    "no-use-before-define": "off"
  }
}
